/* Live Classes  */
.class-top{
    height: 200px;
    background-image: url('../images/featured/female-doctor-has-online-conference-GCADMVD.jpg');
    background-position: center center;
    background-repeat: repeat-x;
    background-size: 100% auto;   
}
.class-overlay{
    background-color: transparent;
    background-image: linear-gradient(90deg, #060646 0%, #060646 70%);
    opacity: 0.8;
    height: 200px;
    color: #fff;
    padding: 30px;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.class-overlay h2{
    font-weight: 500;
    font-size: 50px;
}
.class-overlay button{
    margin-top: -20px;
}
.scheduled-classes{
    border: 1px solid #D5D8DC;
    margin:20px;
    border-radius: 5px;
    padding: 30px;
    background: #fff;
}
.scheduled-classes h3{
    margin-top: -10px;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: -1px;
}
.scheduled-classes span{
    font-weight: 100;
}
.scheduled-clock{
    width: 40px;
    text-align: center;
    float: left; 
    margin-right:5px;
    border-radius: 2px;
    padding: 5px;
    border: 1px solid #D5D8DC;
}
.scheduled-clock .fa-clock{
    color: #ABB2B9;
}
.scheduled-time{
    width: 50px;
    text-align: center;
    float: left;
    margin-right:20px;

}
.scheduled-time span{
    color: #000;
    font-size: 12px;
    font-weight: 900;
}

.scheduled-title p{
    font-weight: 900;
    font-size: 15px;
    color: #060646;
    margin-bottom: -2px;
}

.top-section{
    border: 1px solid #D5D8DC;
    border-radius: 5px;
    background: #fff;
    margin-top: 20px;
    padding: 20px;
}
/* ==================== */
/* end of live cLASS */
/* ===================== */

/* Exams */
.exam-top{
    height: 230px;
    background-image: url('../images/featured/female-doctor-has-online-conference-GCADMVD.jpg');
    background-position: center center;
    background-repeat: repeat-x;
    background-size: 100% auto;   
}
.exam-overlay{
    background-color: transparent;
    background-image: linear-gradient(90deg, #11BECC 0%, #11BECC 70%);
    opacity: 0.8;
    height: 230px;
    color: #fff;
    padding: 20px;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.exam-overlay h2{
    font-weight: 600;
    font-size: 50px;
    margin-left: 20px;
}
.exam-overlay p{
    font-size: 18px;
    margin-left: 20px;
}
.exam-overlay span{
    margin-left: 20px;
}
.exam-card{
    width: 23%;
    background: #EAECEE;
    height: 180px;
    cursor: pointer;
    padding: 5px;
    margin: 10px;
    float: left;
    border-radius: 5px;
}
.exam-card:hover{
    background: #D5D8DC;
}
.exam-card p{
    color: #060646;
    padding: 10px;
    font-weight: 500;
}
.exam-card h4{
    margin-top: -10px;
    font-size: 10px;
}
.exam-card .exam-header{
    padding: 12px;
    text-align: center;
    color: #fff;
    background: #11BECC;
    border-radius: 5px;  
}
.exam-card span{
    color: #060646;
}
.exam-warning{
    background: #EAECEE;
    padding: 10px;
    border-radius: 5px;
}
.exam-fa{
    background: #19197a;
    padding: 20px;
    margin-left: 50px;
    width: 70px;
    float: left;
    border-radius: 50px;
}
.exam-fa .fa-user{
    color: #fff;
}
.exam2 h3{
color: #060646;
font-size: 18px;
}
/*  ============================
        End of exams
    ============================*/
.menu{
    display: none;
}
.qxp-success{
    background: #28a745;
    color: #fff;
}
.qxp-info{
    background: #17a2b8;
    color: #fff;
}
.qxp-warning{
    background: #ffc107;
    color: #fff;
}
.qxp-danger{
    background: #dc3545;
    color: #fff;
}
.qxp_active{
    background: #17a2b8;

}
.qxp-top-header{
    margin-top: 15px;
}
.qxp-top-header span{
    color: #FD6C03;
}
.top-header{
    background: #060646;
    margin-top: -20px;
    padding-top: 15px;
    height: 60px;
}
.top-header-2{
    background: #D6DBDF;
    margin-top: -20px;
    margin-left: -40px;
    padding-top: 20px;
    height: 70px;
}
.top-header-2 span{
    color: #060646;
}
.top-header input{
    background: #D6DBDF;
    border-radius: 10px;
}

.top-header span{
    color: #FD6C03;
}

.qxp-back{
    background: #060646;
    height:220px;
    margin-top: -10px;
    padding-top: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.qxp-back h3{
    color: #fff;
    font-size: 15px;
    margin-left: 15px;
    font-weight: 800;
    
}
.custom-search{
    background: #fff;
    width: 80%;
    margin-left: 15px;
    float: left;
}
.custom-search p{
    color: #060646;
    font-size: 15px;
    padding-top: 5px;
    padding-left: 20px; 
}
.custom-search-button{
    color: #fff;
    background: #FD6C03;
    padding: 5px;
    border: 1px #FD6C03 solid;
    width: 15%;
    font-weight: 600;
    font-size: 18px;
}
.light-bg{
    background: #30307c;
    margin: 15px;
    padding: 5px;
    color: #fff;
    
}
.light-bg p{
    float: left;
    margin-right: 20px;
}

.light-bg button{
    background: transparent;
    border: 1px solid #fff;
    border-radius: 30px;
    padding: 2px;
    float: left;
    margin-right: 20px;
    width: 100px;
    text-align: center;

}
.recent-activity{
    background: #fff;
    border-radius: 10px;
}
.tab-content h3{
    color: #566573;
    margin-left: 20px;
    font-size: 20px;
    font-weight: 600;
}
.events-activity{
    background: #fff;
    border-radius: 10px;
    border: 1px solid #11BECC;
    margin: 15px;
    background-color: rgba(128,128,128, .09);
    padding: 10px;
}
.calendar{
    background: #F2F4F4;
}
.calendar table{
 background: #fff;
 font-size: 10px;
 text-align: center;
}
.calendar table .fc-head tr{
    background: #11BECC;
    color: #fff;
    border-top-right-radius: 5px;
}
.calendar table .fc-head td{
    padding: 10px;
    
}
.calendar .fc-left{
    color: #060646;
    text-transform: uppercase;
    font-size: 10px;
}
.modal-content{
    padding: 10px;
   
}
.events-activity h4{
    color: #060646;
    font-size: 12px;
    margin-bottom: -2px;
}
.events-activity span{
    font-style: italic;
    font-size: 9px;
}
.tasks{
    background: #fff;
    padding: 10px;
}
.tasks h3{
    color: #85929E;
    font-size: 25px;
    text-align: center;
}
.task-card{
    background: #EBEDEF;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 20px;
}
.task-card:hover{
    background: #11BECC;
}
.task-card span{
margin-right: 5px;
}
.task-card .date{
    color: #060646;
    font-size: 10px;
    margin-right: 20px;
}
.task-card .title{
    color: #060646;
    font-size: 15px;
    font-weight: 600;
    margin-left: 10px;
    margin-right: 20px;
}
.task-card i{
    background: #060646;
    color: #fff;
    padding: 5px;
    border-radius: 10px;
}
.card-header h4{
    color: #060646;
    font-weight: 900;
    font-size: 25px;
}
.card-header span{
    background: #FD6C03;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
    margin-left: 25px;
}
.nav-tabs li a{
color: #060646;

}
.recent-activity table{
    width: 100%;
    overflow: hidden;
}
.live-units{
    background: #fff;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    border-left: 3px solid #FD6C03;
    margin-top: -40px;
    padding-left: 20px;
}

.live-units h3{
    font-size: 15px;
    color: #060646;
}
.live-units p{
    font-size: 10px;
}
.live-units .fa{
    color: #060646;
}
.upcoming h3{
    margin-left: 50px;
    color: #666;
    font-weight: bold;
    font-size: 15px;
}
.upcoming-units{
    background: #fff;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 10px;
    border-left:  3px solid #079DFF;
    padding-left: 20px;
}

.upcoming-units p{
    font-size: 10px;

}
.upcoming-units .fa{
    color: #060646;
}
/* right side of the main dashboard */

.dashboard-right h3{
    color: #060646;
    font-weight: 600;
    font-size: 18px;
    padding-left: 20px;
}
.top-right{
    background: #D5D8DC ;
    margin-top: -20px;
    padding: 16px;
    text-align: right;
}
.header2-top-right{
    background: #D5D8DC ;
    margin-top: -20px;
   
    padding-top: 20px;
    height: 70px;
    text-align: right;
}
.top-right i{
    background: #CCD1D1;
    padding: 5px;
    color: #fff;
    border-radius: 50%;
    margin-right: 20px;
}
.header2-top-right i{
    background: #CCD1D1;
    padding: 5px;
    color: #fff;
    border-radius: 50%;
    margin-right: 20px;
}
.top-right span{
   vertical-align: middle;
    margin-top: 10px;
    color: #ABB2B9;
    margin-right: 20px;
}
.header2-top-right span{
    vertical-align: middle;
     margin-top: 10px;
     color: #ABB2B9;
     margin-right: 20px;
 }
.qxp-center{
    text-align: center;
}
.qxp-center button{
    border-radius: 75%;
    border: transparent;
    color: #fff;
}
.section-2{
    background: #fff;
    margin-top: 20px;
}
.section-2 i{
   text-align: center;
   padding-top: 20px;

}
.section-2 table{
    margin-right: 20px;
    margin-left: 20px;
}
.section-2 table thead{
    background:rgb(226, 222, 222);
    color: #060646;
    font-weight: 600;
}
.has-search input{
background: #ABB2B9;
color: #060646;
border-radius: 5px;
text-align: center;
}
/* Courses */
.course-breadcrumb h3{
    font-size: 25px;
    color: #060646;
    font-weight: 400;
    margin-left: 20px;
}
.courses p{
 margin-left: 20px;
}
.courses span{
    color:#FD6C03 ;
}
.coarse-list{
height: 80px;
width: 100%;
border-radius: 1px;
background: #060646;
}
.coarse-button{
    margin-left: 20px;
    background: #FD6C03;
    border-radius: 2px;
    padding: 3px;
    width: 80px;
    color: #fff;
    border: 1px solid #FD6C03;
}
.coarse-button-2{
    margin-left: -5px;
    background: #11BECC;
    border-radius: 2px;
    padding: 3px;
    width: 60px;
    color: #fff;
    border: 1px solid #11BECC;
}
.view-all{
    padding: 3px;
    background: #D5D8DC;
    color: #222;
    border: 1px solid #D5D8DC;
    width: 100px;
    border-radius: 5px;
    margin-top: 20px;
}
.thumbnail {
    padding: 0px !important;
}
.thumbnail img{
    background: #060646;
    height: 100px;
    width: 320px;
}
.captions{
    background: #060646;
    padding-bottom: 1px;
}
.caption a{
    color: #060646;
    font-weight: 900;
    font-size: 10px;

}
.ratings p{
    text-align: center;
    color: #FD6C03;
    font-style: bold;
}
.captions h4{
    color: #fff;
    padding: 5px;
}
.other-courses{
    text-align: center;

}
.other-courses h3{
font-size: 25px;
color: #666666;

}
.other-courses p{
    color: #666666;
}
.live-span{
width: 33%;
float: left;
height: 60px;
text-align: center;
}
.live-span i{
    margin-top: 15px;
}
.live-span h3{
    font-size: 12px;
}
.progress{
    margin-top: 20px;
    width: 80%;
    height: 5px;
}
.upcoming-units {
    margin-bottom: 20px;
}

.qxp-bg-info{
    background-color: #060646;
}
.lessons-bg{
    background: url(../images/featured/female-doctor-has-online-conference-GCADMVD.jpg);
    background-size: 100% auto;
    background-position: center center;
    background-repeat: repeat-x;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lessons-overlay{
    
    width: 100%;
    height: 200px;
    position: absolute;
    z-index: 0;
    background-color: transparent;
    /* background: -webkit-linear-gradient(left, rgba(253, 108, 3, 1), rgba(253, 108, 3, 0)); */
    background-image: linear-gradient(90deg, #F27113 42%, #F27113 57%);
    opacity: 0.8;
    mix-blend-mode: multiply;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.account-bg{
    background: url(../images/featured/female-doctor-has-online-conference-GCADMVD.jpg);
    background-size: cover;
    position: relative;
    background-position: center center;
    background-repeat: repeat-x;
    background-size: 100% auto;
    height: 572px;
}
.qxp-overlay-education {
    background-color: transparent;
    background-image: linear-gradient(90deg, #060646BA 0%, #060646BA 70%);
    opacity: 1;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    width: 100%;
    height: 100%;
    padding-top: 4em;
}
.spacer{
    margin-left: 40px;
    margin-right: 40px;
}
.account-card {
    height: 430px;
    border-radius: 5px;
    padding: 30px;
    background-color: #11BECC;
    color: #fff;
}
.account-img{
    margin-top: 50px;
}
.account-img i {
    font-size: 5em;
}
.account-text{
    margin: 20px 20px;
    text-align: center;
}
.account-form{
    padding-top:70px;
}
.assignment-card{
    height: 90px;
    margin-top: 20px;
    background-color: rgb(105,105,105,.1);
    border-radius: 6px;
}
.assignment-card:hover{
    border: 1px solid #00CED1;
}
.assignment-link{
    margin-top:20px;
    width:70px;
}
.form-row{
    padding-top: 20px;
}
.active a{
    background-color: #fff !important;
    color: #060646 !important;
}
/* .sidebar-menu a:hover{
    background-color: #fff !important;
    color:#060646 !important;
} */


@media only screen and (max-width: 767px) {
    .menu{
        display: block;
        float: right;
        position: relative;
        background: transparent;
        margin-top: -50px;
        height: 50px;
    }
    .top-header{
        display: none;
    }
    .top-right{
        display: none;
    }
    .skin-blue .main-header .navbar{
        display: none;
    }
    .qxp-back{
        margin-top: -20px;
    }
    .custom-search-button{
        display: none;
    }
    .custom-search{
        background: #fff;
        width: 90%;
        margin-left: 15px;
        float: left;
        border-radius: 10px;
        
    }
    .light-bg{
        margin-top: 50px;
        border-radius: 10px;
    }
    .light-bg p{
        float: left;
        margin-right: 5px;
    }
    .light-bg button{
        background: transparent;
        border: 1px solid #fff;
        border-radius: 10px;
        padding: 2px;
        float: left;
        margin-right: 20px;
        width: 80px;
        text-align: center;
    
    }
    .live-units{
        background: #fff;
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 10px;
        border-left: 3px solid #FD6C03;
        
        padding-left: 20px;
    }
    .assignment-card{
        height: 230px;
    }
    .assignment-link{
        margin-top:9px;
        width:70px;
    }
    .assignment-text{
        text-align: center;
    }
    /* //added css-account */
    .account-card {
        height: 250px;
        border-radius: 5px;
        padding: 15px;
        background-color: #11BECC;
        color: #fff;
    }
    .account-img{
        margin-top: 0px;
    }
    .account-img i {
        font-size: 2.8em;
    }
    .account-text{
        margin: 0px 0px;
        text-align: center;
    }
    .account-form{
        padding-top:10px;
    }
    .qxp-overlay-education{
        padding-top: 1em;
    }
    .form-row{
        padding-top: 0px;
        margin-bottom: 7px !important;
    }    
    .top-header-2 span{
        display: none;
    }
    .exam-card{
        width: 43%;
        height: 200px;
    }
    .exam-card h4{
        margin-top: 5px;
        float: left !important;
    }
    .exam-warning span{
        padding: 5px;
        border-radius: 5px;
    }
    .exam-fa{
        background: #19197a;
        padding: 5px;
        margin-left: 5px;
        margin-right: 5px;
        width: 50px;
        float: left;
        border-radius: 50px;
    }
    .exam2 i{
        display: none;
    }
    .exam2 h3{
      margin-top: -1px;
        padding-left: 5px;
        font-size: 18px;
    }
    .class-overlay{
        text-align: center;
    }
    .class-overlay input{
        border-radius: 45px;
    }
    .class-overlay button{
       margin-top: 1px;
        width: 100px;
    }
}