.menu{
    display: none;
}
.qxp-success{
    background: #28a745;
    color: #fff;
}
.qxp-info{
    background: #17a2b8;
    color: #fff;
}
.qxp-warning{
    background: #ffc107;
    color: #fff;
}
.qxp-danger{
    background: #dc3545;
    color: #fff;
}
.qxp_active{
    background: #17a2b8;

}
.qxp-top-header{
    margin-top: 15px;
}
.qxp-top-header span{
    color: #FD6C03;
}
.top-header{
    background: #060646;
    margin-top: -20px;
    padding-top: 15px;
    height: 60px;
}
.top-header-2{
    background: #D6DBDF;
    margin-top: -20px;
    margin-left: -40px;
    padding-top: 20px;
    height: 70px;
}
.top-header-2 span{
    color: #060646;
}
.top-header input{
    background: #D6DBDF;
    border-radius: 10px;
}

.top-header span{
    color: #FD6C03;
}

.qxp-back{
    background: #060646;
    height:220px;
    margin-top: -10px;
    padding-top: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.qxp-back h3{
    color: #fff;
    font-size: 15px;
    margin-left: 15px;
    font-weight: 800;
    
}
.custom-search{
    background: #fff;
    width: 80%;
    margin-left: 15px;
    float: left;
}
.custom-search p{
    color: #060646;
    font-size: 15px;
    padding-top: 5px;
    padding-left: 20px; 
}
.custom-search-button{
    color: #fff;
    background: #FD6C03;
    padding: 5px;
    border: 1px #FD6C03 solid;
    width: 15%;
    font-weight: 600;
    font-size: 18px;
}
.light-bg{
    background: #30307c;
    margin: 15px;
    padding: 5px;
    color: #fff;
    
}
.light-bg p{
    float: left;
    margin-right: 20px;
}

.light-bg button{
    background: transparent;
    border: 1px solid #fff;
    border-radius: 30px;
    padding: 2px;
    float: left;
    margin-right: 20px;
    width: 100px;
    text-align: center;

}
.recent-activity{
    background: #fff;
    border-radius: 10px;
}
.tab-content h3{
    color: #566573;
    margin-left: 20px;
    font-size: 20px;
    font-weight: 600;
}
.events-activity{
    background: #fff;
    border-radius: 10px;
    border: 1px solid #11BECC;
    margin: 15px;
    background-color: rgba(128,128,128, .09);
    padding: 10px;
}
.calendar{
    background: #F2F4F4;
}
.calendar table{
 background: #fff;
 font-size: 10px;
 text-align: center;
}
.calendar table .fc-head tr{
    background: #11BECC;
    color: #fff;
    border-top-right-radius: 5px;
}
.calendar table .fc-head td{
    padding: 10px;
    
}
.calendar .fc-left{
    color: #060646;
    text-transform: uppercase;
    font-size: 10px;
}
.modal-content{
    padding: 10px;
   
}
.events-activity h4{
    color: #060646;
    font-size: 12px;
    margin-bottom: -2px;
}
.events-activity span{
    font-style: italic;
    font-size: 9px;
}
.tasks{
    background: #fff;
    padding: 10px;
}
.tasks h3{
    color: #85929E;
    font-size: 25px;
    text-align: center;
}
.task-card{
    background: #EBEDEF;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 20px;
}
.task-card:hover{
    background: #11BECC;
}
.task-card span{
margin-right: 5px;
}
.task-card .date{
    color: #060646;
    font-size: 10px;
    margin-right: 20px;
}
.task-card .title{
    color: #060646;
    font-size: 15px;
    font-weight: 600;
    margin-left: 10px;
    margin-right: 20px;
}
.task-card i{
    background: #060646;
    color: #fff;
    padding: 5px;
    border-radius: 10px;
}
.card-header h4{
    color: #060646;
    font-weight: 900;
    font-size: 25px;
}
.card-header span{
    background: #FD6C03;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
    margin-left: 25px;
}
.nav-tabs li a{
color: #060646;

}
.recent-activity table{
    width: 100%;
    overflow: hidden;
}
.live-units{
    background: #fff;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    border-left: 3px solid #FD6C03;
    margin-top: -40px;
    padding-left: 20px;
}

.live-units h3{
    font-size: 15px;
    color: #060646;
}
.live-units p{
    font-size: 10px;
}
.live-units .fa{
    color: #060646;
}
.upcoming h3{
    margin-left: 50px;
    color: #666;
    font-weight: bold;
    font-size: 15px;
}
.upcoming-units{
    background: #fff;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 10px;
    border-left:  3px solid #079DFF;
    padding-left: 20px;
}

.upcoming-units p{
    font-size: 10px;

}
.upcoming-units .fa{
    color: #060646;
}
/* right side of the main dashboard */

.dashboard-right h3{
    color: #060646;
    font-weight: 600;
    font-size: 18px;
    padding-left: 20px;
}
.top-right{
    background: #D5D8DC ;
    margin-top: -20px;
    padding: 16px;
    text-align: right;
}
.header2-top-right{
    background: #D5D8DC ;
    margin-top: -20px;
   
    padding-top: 20px;
    height: 70px;
    text-align: right;
}
.top-right i{
    background: #CCD1D1;
    padding: 5px;
    color: #fff;
    border-radius: 50%;
    margin-right: 20px;
}
.header2-top-right i{
    background: #CCD1D1;
    padding: 5px;
    color: #fff;
    border-radius: 50%;
    margin-right: 20px;
}
.top-right span{
   vertical-align: middle;
    margin-top: 10px;
    color: #ABB2B9;
    margin-right: 20px;
}
.header2-top-right span{
    vertical-align: middle;
     margin-top: 10px;
     color: #ABB2B9;
     margin-right: 20px;
 }
.qxp-center{
    text-align: center;
}
.qxp-center button{
    border-radius: 75%;
    border: transparent;
    color: #fff;
}
.section-2{
    background: #fff;
    margin-top: 20px;
}
.section-2 i{
   text-align: center;
   padding-top: 20px;

}
.section-2 table{
    margin-right: 20px;
    margin-left: 20px;
}
.section-2 table thead{
    background:rgb(226, 222, 222);
    color: #060646;
    font-weight: 600;
}
.has-search input{
background: #ABB2B9;
color: #060646;
border-radius: 5px;
text-align: center;
}
/* Courses */
.course-breadcrumb h3{
    font-size: 25px;
    color: #060646;
    font-weight: 400;
    margin-left: 20px;
}
.courses p{
 margin-left: 20px;
}
.courses span{
    color:#FD6C03 ;
}
.coarse-list{
height: 80px;
width: 100%;
border-radius: 1px;
background: #060646;
}
.coarse-button{
    margin-left: 20px;
    background: #FD6C03;
    border-radius: 2px;
    padding: 3px;
    width: 80px;
    color: #fff;
    border: 1px solid #FD6C03;
}
.coarse-button-2{
    margin-left: -5px;
    background: #11BECC;
    border-radius: 2px;
    padding: 3px;
    width: 60px;
    color: #fff;
    border: 1px solid #11BECC;
}
.view-all{
    padding: 3px;
    background: #D5D8DC;
    color: #222;
    border: 1px solid #D5D8DC;
    width: 100px;
    border-radius: 5px;
    margin-top: 20px;
}
.thumbnail {
    padding: 0px !important;
}
.thumbnail img{
    background: #060646;
    height: 100px;
    width: 320px;
}
.captions{
    background: #060646;
    padding-bottom: 1px;
}
.caption a{
    color: #060646;
    font-weight: 900;
    font-size: 10px;

}
.ratings p{
    text-align: center;
    color: #FD6C03;
    font-style: bold;
}
.captions h4{
    color: #fff;
    padding: 5px;
}
.other-courses{
    text-align: center;

}
.other-courses h3{
font-size: 25px;
color: #666666;

}
.other-courses p{
    color: #666666;
}
.live-span{
width: 33%;
float: left;
height: 60px;
text-align: center;
}
.live-span i{
    margin-top: 15px;
}
.live-span h3{
    font-size: 12px;
}
.progress{
    margin-top: 20px;
    width: 80%;
    height: 5px;
}
.upcoming-units {
    margin-bottom: 20px;
}

.log-in{
    padding: 25px;
    background: #fff;
    text-align: center;
}
.log-in span{
    color: #079DFF;
    padding-right: 25px;
    
}
.log-side{
    background: #0707A4;
    height: 400px;
    opacity: 0.7;
    font-weight: 300;
    align-content: middle;
}
.log-side h3{
    color: #fff;
    font-weight: 900;
    margin-top: 30px;
    font-size: 25px;
}
.log-side p{
    color: #fff;
}
.qxp-bg-info{
    background-color: #060646;
}


@media only screen and (max-width: 767px) {
    .menu{
        display: block;
        float: right;
        position: relative;
        background: transparent;
        margin-top: -50px;
        height: 50px;
    }
    .top-header{
        display: none;
    }
    .top-right{
        display: none;
    }
    .skin-blue .main-header .navbar{
        display: none;
    }
    .qxp-back{
        margin-top: -20px;
    }
    .custom-search-button{
        display: none;
    }
    .custom-search{
        background: #fff;
        width: 90%;
        margin-left: 15px;
        float: left;
        border-radius: 10px;
        
    }
    .light-bg{
        margin-top: 50px;
        border-radius: 10px;
    }
    .light-bg p{
        float: left;
        margin-right: 5px;
    }
    .light-bg button{
        background: transparent;
        border: 1px solid #fff;
        border-radius: 10px;
        padding: 2px;
        float: left;
        margin-right: 20px;
        width: 80px;
        text-align: center;
    
    }
    .live-units{
        background: #fff;
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 10px;
        border-left: 3px solid #FD6C03;
        
        padding-left: 20px;
    }



}